.header{
   display: grid;
   grid-template-rows: 1fr 1fr;
   justify-content: center;
}
ul{
  list-style: none;
  
}
ul a{
  text-decoration: none;
  color:black;
  border: solid transparent;
  padding: .5rem 2rem;
  background-color: blueviolet;
}
ul a:hover{
  background-color: rgb(43, 148, 240);
  color: white;
}
.header-menu{
  display: flex;
  gap: 3.5rem;
  padding: 1rem 0rem;
}
.title{
  text-align: center;
  margin: 1rem 0 0 0;
  position: relative;
}


@media(max-width: 600px){
  
  .header-menu{
    
    gap: 1rem;
  }
  .title{
    padding: 1.5rem 0 0 0;
  }
}
@media(max-width: 500px){
  
  .header-menu{
    
    flex-direction: column;
    gap: 2rem;
    position: relative;
    bottom: 4rem;
    left: 3rem;
  }
}